<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<div th:fragment="content" th:remove="tag">
    <div class="m-2">
        <label>Short Description:</label>
        <textarea class="form-control" th:field="*{shortDescription}" rows="5" required></textarea>
    </div>

    <div class="m-2">
        <label>Full Description:</label>
        <textarea class="form-control" th:field="*{fullDescription}" rows="10" required></textarea>
    </div>
</div>
</body>
</html>