.logo-images{
    width: 200px;
}
.icon-gray{color: lightslategray}
.icon-red{color: darkred}
.icon-green{color: green}
.icon-dark{color: gray}
.icon-white{color: white}
.icon-center{text-align: center}

@media screen and (max-width: 768px) {
    div.full-details{display: none}
    div.less-details{display: block}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    div.full-details{display: block}
    div.less-details{display: none}
}

@media screen and (min-width: 1024px){
    div.less-details{display: none}
}

.under-a {
    position: relative;
    display: inline-block;
    text-decoration: none;
}
.under-a::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #ffffff;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
}
.under-a:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}

.under-a-black {
    position: relative;
    display: inline-block;
    text-decoration: none;
}
.under-a-black::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #333333;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
}
.under-a-black:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}